<div class="hero fluid-container">
	<div class="video-container mb-3">
		<video autoplay muted loop>
			<source src="./../images/index-video.mp4" type="video/mp4" />
		</video>
		<div class="caption">
			<div class="center">
				<h1>DUNGEONIZE</h1>
			</div>
		</div>
	</div>
</div>

<script src="/js/playback.js"></script>