<div class="hero fluid-container">
	<div class="video-container">
		<video muted autoplay loop>
			<source src="https://res.cloudinary.com/dhws4e2ty/video/upload/v1669299505/index-video_r2c34s.mp4" type="video/mp4" />
		</video>
		<div class="caption">
			<h1>DUNGEONIZE</h1>
		</div>
	</div>
</div>

<div class="features py-5">
	<div class="container py-5">
		<div class="row justify-content-around py-5">
			<div class="card features-card gap-2" style="width: 20rem; border: none">
				<img src="https://res.cloudinary.com/dhws4e2ty/image/upload/v1669202263/player-icon_x9mc2j.png" class="feature-icon card-img-top p-5" alt="player icon">
				<div class="card-body text-center">
					<h5 class="card-title mb-3">Create your own character</h5>
					<p class="card-text mb-4">Choose your race, classes, traits, background and get ready for the adventure!
					</p>
				</div>
			</div>
			<div class="card features-card  gap-2" style="width: 20rem; border: none">
				<img src="https://res.cloudinary.com/dhws4e2ty/image/upload/v1669202263/fight-icon_xty4sh.png" class="feature-icon card-img-top p-5" alt="battle icon">
				<div class="card-body text-center">
					<h5 class="card-title mb-3">Meet up to enjoy role</h5>
					<p class="card-text mb-4">New player or old school, join events and dive into the world of role, there is always place for one more. 
					</p>
				</div>
			</div>
			<div class="card features-card  gap-2" style="width: 20rem; border: none">
				<img src="https://res.cloudinary.com/dhws4e2ty/image/upload/v1669202263/cleric-icon_v4fyz1.png" class="feature-icon card-img-top p-5" alt="medic icon">
				<div class="card-body text-center">
					<h5 class="card-title mb-3">Make new friends</h5>
					<p class="card-text mb-4">Discover new worlds, create new adventures and join your friends to be part of new adventures.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="quote pt-4 container">
		<div class="row justify-content-center">
			<div class="col-12 m-0 pb-2 d-flex justify-content-center">
				<img class="rounded-2 " src="https://res.cloudinary.com/dhws4e2ty/image/upload/v1669205797/index-image_kjstxp.jpg" alt="DND illustration">
			</div>
			<div class="col-11 px-5 mb-4">
				<p class="quote p-5" ><em>You are not entering this world in the usual manner, for you are setting forth to be a Dungeon Master. Certainly there are stout fighters, mighty magic-users, wily thieves, and courageous clerics who will make their mark in the magical lands of D&D adventure. You however, are above even the greatest of these, for as DM you are to become the Shaper of the Cosmos. It is you who will give form and content to the all the universe. You will breathe life into the stillness, giving meaning and purpose to all the actions which are to follow.</em></p>
			</div>
		</div>
	</div>
</div>

{{#if errorMessage}}
	<div id="errorMessage">
		<p>{{errorMessage}}</p>
	</div>
{{/if}}

<script src="/js/playback.js"></script>