/*  */
/* GENERAL STYLING */
/*  */

@font-face {
	font-family: "vanderickregular";
	src: url("./../font/vanderick-webfont.woff2") format("woff2"), url("./../font/vanderick-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	font-weight: 200;
	font-family: sans-serif;
}

h1,
h2,
h3 {
	font-weight: 200;
}

.navbar form button {
	background: transparent;
	border: none;
}

.profile-img {
	width: 100px;
}

/* Navbar */

.navbar-brand {
	font-family: vanderickregular !important;
	color: rgba(255, 255, 255, 0.85);
	padding-inline: 10px;
}

.bg-dark {
	background-color: rgb(56, 9, 9) !important;
}

/* Hero */

.hero {
	background-size: contain;
	height: 95vh;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.center > h1 {
	position: absolute;
	font-size: 90px;
	color: #fff;
	white-space: nowrap;
	z-index: 1;
	padding: 20px 40px;
	background-color: rgb(35, 21, 5);
	mix-blend-mode: multiply;
	font-family: vanderickregular;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.6);
}

.video-container {
	height: 95vh;
	width: 100vw;
}

.video-container video {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

.video-container .caption {
	text-align: center;
}

/* Characters */

.class {
	border: solid 1px rgb(123, 230, 252);
	color: rgb(123, 230, 252);
	max-width: max-content;
	align-self: flex-end;
	padding: 5px 10px;
	border-radius: 8px;
	display: inline-block;
}

.race {
	border: solid 1px rgb(252, 123, 123);
	color: rgb(252, 123, 123);
	max-width: max-content;
	align-self: flex-end;
	padding: 5px 10px;
	border-radius: 8px;
	display: inline-block;
}

/* Events */

#eventMap {
	height: 350px;
}

/* Error message */

#errorMessage {
	background-color: rgb(251, 149, 149);
	width: 400px;
	position: fixed;
	right: 20px;
	bottom: 10px;
	padding: 20px 20px 0 20px;
	text-align: center;
	animation: showFromBottom 6s forwards;
}

@keyframes showFromBottom {
	0% {
		bottom: -50px;
	}

	10% {
		bottom: 10px;
	}

	90% {
		bottom: 10px;
	}

	100% {
		bottom: -70px;
	}
}
