/*  */
/* GENERAL STYLING */
/*  */

/* Fonts */

@font-face {
	font-family: "vanderickregular";
	src: url("./../font/vanderick-webfont.woff2") format("woff2"), url("./../font/vanderick-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'bookmaniaregular';
    src: url('./../font/bookmania_regular-webfont.woff2') format('woff2'), url('./../font/bookmania_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bookmaniaitalic';
    src: url('./../font/bookmania_italic-webfont.woff2') format('woff2'),
         url('./../font/bookmania_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bookmanialight_italic';
    src: url('./../font/bookmania_light_italic-webfont.woff2') format('woff2'),
         url('./../font/bookmania_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Utility classes */

body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-weight: 200;
	font-family: sans-serif;
	background-image: url("https://res.cloudinary.com/dhws4e2ty/image/upload/v1669323415/output-onlinepngtools_1_acwthc.png");
}

h1,
h2,
h3 {
	font-weight: 200;
}

.navbar form button {
	background: transparent;
	border: none;
}

.profile-img {
	object-fit: cover;
	width: 120px;
	height: 120px;
}

.flex-wrapper {
	display: flex;
  	min-height: calc(100vh - 56px);
  	flex-direction: column;
  	justify-content: flex-start;
}

.read-only {
	background-color: rgb(224, 224, 224) !important;
	color: rgb(99, 99, 99) !important;
}

.page-title {
	font-family: bookmaniaregular !important;
	font-size: 45px;
}

.details-link {
	font-family: vanderickregular;
	text-decoration: none;
	color: #81130c;
	transition: 1s ease;
}

.details-link:hover {
	color: #b83329;
	filter: drop-shadow(0px 0px 15px #ef7f77) 

}

.card {
	background-color: rgb(253, 249, 243);
}

.btn-success {
	background-color: #b83329;
	border: 1px solid #b83329;
}

.btn-success:hover {
	background-color: #e7584e;
	border: 1px solid #e7584e;
}

.btn-secondary {
	background-color: #c69a82;
	border: 1px solid #c69a82;
}

.btn-secondary:hover {
	background-color: #936952;
	border: 1px solid #936952;
}

.btn-warning {
	background-color: #d8c170;
	border: 1px solid #d8c170;
}

.btn-warning:hover {
	background-color: #b7a153;
	border: 1px solid #b7a153;
}


/* Navbar */

.navbar-brand {
	font-family: vanderickregular !important;
	color: rgba(255, 255, 255, 0.85);
	padding-inline: 10px;
}

.bg-dark {
	background-color: #4a0909 !important;
}

.dropdown-menu[data-bs-popper] {
	left: -25% !important;
}

/* Hero */

.hero {
	background-size: contain;
	height: 94vh;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caption {
	position: absolute;
	max-width: max-content;
	margin-inline: auto;
}

.caption > img {
	width: 50%;
	font-family: vanderickregular;
	box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.6);
	animation: title 3s ease-in;
	transition: 1.5s ease;
}

.caption > h1:hover {
	scale: 1.03;
}

@keyframes title {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.video-container {
	height: 94vh;
	width: 100vw;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-container video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-container .caption {
	text-align: center;
}

/* Features */

.features {
	background-image: url("https://res.cloudinary.com/dhws4e2ty/image/upload/v1669311422/output-onlinepngtools_ar3fwr.png"), linear-gradient(0deg, rgb(57, 0, 0) 30%, rgb(221, 168, 125) 100%);
	position: relative;
	background-size: cover;
}

.features-card {
	background-color: transparent !important;
	transition: 0.5s;
}

.features-card:hover {
	scale: 1.02;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	background-color: rgba(248, 196, 141, 0.5) !important;
}

.feature-icon {
	width: 80%; 
	margin-inline: auto;
	transition: 0.5s;
}

.feature-icon:hover {
	scale: 1.05;
	border-radius: 50%;
}

/* Quote */

.image-container {
	margin-inline: auto;
}

.quote img {
	width: 80%;
	opacity: 0.8;
}

.quote {
	font-family: bookmaniaitalic;
	color: rgba(255, 255, 255, 0.798);
	position: relative;
}

.quote p {
	padding-inline: 20px;
}

@media (max-width: 800px) {
	.caption > img {
		width: 60%;
		box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.6);
	}
}

@media (max-width: 500px) {
	.caption > img {
		width: 70%;
		box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.6);
	}
}

/* Characters */

.class {
	border: solid 1px rgb(146, 28, 28);
	background-color: #fff;
	color: rgb(146, 28, 28);
	max-width: max-content;
	align-self: flex-end;
	padding: 5px 10px;
	border-radius: 8px;
	display: inline-block;
}

.race,
.place {
	border: solid 1px rgb(252, 123, 123);
	background-color: #fff;
	color: rgb(252, 123, 123);
	max-width: max-content;
	align-self: flex-end;
	padding: 5px 10px;
	border-radius: 8px;
	display: inline-block;
}

.place {
	align-self: flex-start;
}

.black {
	background-color: black;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.character-bg-img {
	position: absolute;
	width: 90%;
	bottom: 0;
	right: -40;
	overflow: auto;
	opacity: .2;
	z-index: 1;
}

.event-bg-img {
	position: absolute;
	width: 70%;
	bottom: -30;
	right: -40;
	overflow: auto;
	opacity: .2;
	z-index: 1;
}
.character-img {
	width: 40%;
	margin-inline: auto;
}

.random {
	font-size: 60px;
	color: rgb(165, 165, 165);
}

.random-button {
	width: 3rem;
	height: 3rem;
	background: #81130c;
	border-radius: 50%;
	grid-row: 2/3;
	grid-column: 1/2;
	place-self: end center;
	transition: box-shadow 250ms;
	cursor: pointer;
	display: grid;
	place-items: center;
	margin-inline: auto;
}

.random-button:is(:hover) {
	box-shadow: 0px 0px 20px #81130c;;
}

.random-button svg {
	transition: transform 250ms;
}
.random-button:is(:hover) > svg {
	transform: rotate(135deg);
}

.stat-input {
	width: 80px;
	border: none;
	text-align: center;
	background-color: rgb(253, 249, 243) !important;
}

.print-btn {
	display: block;
	border: 2px solid #81130c;
	color: #81130c;
	background-color:blanchedalmond;
}

/* Events */

#eventMap {
	height: 350px;
}

.event-description {
	min-height: 140px;
	/* display: -webkit-box !important; 
	-webkit-line-clamp: 3 !important; 
	-webkit-line-orient: vertical !important; 
	overflow: hidden !important; */
}

.kick-btn {
	padding: 3px 6px;
	border-radius: 50%;
	border: none;
	color: white;
	font-weight: bold;
}

/* Footer */

footer {
	margin-top: auto;
	width: 100%;
	background-color: #4a0909;
	color: blanchedalmond;
	padding: 16px;
}

/* Error message */

#errorMessage {
	background-color: rgb(251, 149, 149);
	width: 400px;
	position: fixed;
	right: 20px;
	bottom: 10px;
	padding: 20px 20px 0 20px;
	text-align: center;
	animation: showFromBottom 6s forwards;
}

@keyframes showFromBottom {
	0% {
		bottom: -50px;
	}

	10% {
		bottom: 10px;
	}

	90% {
		bottom: 10px;
	}

	100% {
		bottom: -70px;
	}
}
